<template>
  <div class="body">
      <h1>Active Assignmentst {{new Date().getFullYear()}}</h1>
      <span>
          <p>
              Here is a list of all the active bachelor and internships 
              assignments in {{new Date().getFullYear()}}
          </p>
      </span>
      <div class="divLeft">
          <h2>Bachelor Thesis</h2>
          <ItemCard v-for="item in activeBachelorTheses" :key="item.id" :item="item" />
      </div>

      <div class="divRight">
          <h2>Internships</h2> <br><br><br>

          <ItemCard v-for="item in activeInternships" :key="item.id" :item="item" />
      </div>
  </div>
</template>

<script>
//Imports ItemCard Component
import ItemCard from '@/components/ItemCard.vue'
//Imports firebase database from firebase init component
import db from '@/components/firebaseInit.js'
export default {
    components: {
        ItemCard
    },
    data(){
        return {
            activeBachelorTheses: [],
            activeInternships: [],
        }
    },
    created() {
        //gets data from 'bachelor-approved' db and stores it in activeBachelorTheses array
        db.collection('bachelor-approved').get()
        .then(querySnapshot => {
            querySnapshot.forEach(doc => {
                const data = {
                    'id': doc.id,
                    'companyName': doc.data().assignmentHeadline,
                    'companyField': doc.data().type,
                    'year': doc.data().year,
                    'headline': doc.data().name,
                    'description': doc.data().email,
                }
                this.activeBachelorTheses.push(data)
            })
        })
        
        //retrives data from internship-approved db and stores it in activeInternships
        db.collection('internship-approved').get()
        .then(querySnapshot => {
            querySnapshot.forEach(doc => {
                const data = {
                    'id': doc.id,
                    'companyName': doc.data().companyName,
                    'companyField': doc.data().type,
                    'year': doc.data().year,
                    'headline': doc.data().name,
                    'description': doc.data().email,
                }
                this.activeInternships.push(data)
            })
        })
    },

}
</script>

<style>
.body{
  margin: 0 auto;
  text-align: center;
}
template{
  text-align: center;
}
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}
.divLeft{
    float: left;
    width: 49%;
}
.divRight{
    float: right;
    width: 49%;
}
.divRight>h2{
    float: left;
}

.item-card{
    height: 200px;
}

#readMore{
    display: none;
}
</style>