<template>
    <div>
         <div class="container"> 
            <h1>Admin</h1>
            <p> First name: {{ item.firstName }} </p>
            <p> Last name: {{ item.lastName }} </p>
            <p> Phone: {{ item.phoneNumber }} </p>
            <p> Email: {{ item.email }} </p>
            <p v-if="user">User ID:  {{ user.uid }} </p>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Change role to promote user</th>
                    </tr>
                </thead>
                <input type="text" v-bind="search" placeholder="Search for user by email">
                <tbody id="myTable">
                    <div class="scroll">
                    <tr v-for="user in filteredUsers" :key="user.id">
                        <td> {{ user.email }}</td>            
                        <select @change="changeRole(user.id, $event)">
                            <option :selected="user.role.company"  value="company">Company</option>
                            <option :selected="user.role.admin" value="admin">Admin</option>
                            <option :selected="user.role.student" value="student">Student</option>
                        </select>   
                    </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Administer Bachelor Assignments</h2>
            <router-link :to="{ name: 'SuggestedBachelorThesis'}"><button style="float: left;">Suggested Bachelor Thesis</button></router-link>
            <router-link :to="{ name: 'BachelorApplication'}"><button style="float: right;">Bachelor Thesis applications</button></router-link> <br>
        </div>
        <div class="container">
            <h2>Administer Internship assignments</h2>
            <router-link :to="{ name: 'suggestedInternships'}"><button style="float: left;">Suggested Internship Assignments</button></router-link>
            <router-link :to="{ name: 'InternshipApplication'}"><button style="float: right;">Internship Assignments applications</button></router-link> <br>
        </div>
        <div class="container">
            <h2>Sign up link</h2>
            <p>Give this link to students or companies that want to sign up, or use it to create a user for them yourself.</p>
            <input type="text" value="localhost:8080/signup" id="signUpURL">
            <button type="button" v-on:click="copyToClipboard">Copy To Clipboard</button>
        </div>
        <editProfile></editProfile>
    </div>
</template>

<script>
//imports necessary components
import firebase from 'firebase'
import db from '@/components/firebaseInit.js'
import editProfile from '@/components/editProfile.vue'

    export default {
        components: {
            editProfile
        },
        data() {
            return {
                users: [],
                user: null,
                search: '',
                item: {}
            }
        },
        created() {
            var self = this
            firebase.auth().onAuthStateChanged(function(user) {
                self.user = user
            })

            this.users = []
            firebase.firestore().collection("users").orderBy("role", "asc")
            .get()
            .then(snap => {
                snap.forEach(doc => {
                    var user = doc.data()
                    user.id = doc.id
                    //console.log(doc.data())
                    this.users.push(user)
                })
            })


            var id = firebase.auth().currentUser.uid;
            let ref = db.collection('users').doc(id)
            ref.get()
            .then(querySnapshot => {
            if(querySnapshot.exists) {
                this.item = querySnapshot.data()
            } else {
            console.log('Error')
            }  
        })
  
        },
        methods: {
            signout() {
                firebase.auth().signOut()
                .then(user => {
                    this.$router.push({ path: '/'})
                })
            },
            changeRole(uid, event) {
                var addMessage = firebase.functions().httpsCallable("setUserRole")

                var data = { uid: uid, role: { [event.target.value]: true } }

                addMessage(data)
                .then(function(result) {
                    console.log(result)
                })
                .catch(function(error) {
                    console.log(error)
                })
            },


            copyToClipboard() { //copies the link to clipboard
                var copyText = document.getElementById('signUpURL');
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");
                alert("Copied the signup URL: " + copyText.value);
            },
        },

        computed: {
            filteredUsers: function(){
                return this.users.filter((user) => {
                    return user.email.match(this.search)
                })
            }
        }
    }
</script>

<style scoped>
table {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    align-content: center;
}

tr {
    height: 40px;
}

input[type="text"] {
    max-width: 70%;
}

#signUpURL {
    max-width: 30%;
}

button[type="button"] {
    float: none;
}
.container {
  width: 50%;
  align-content: center;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



.scroll {
    width: 300px; height: 250px; overflow: auto;
}


</style>