<!--
*   @desc Component-view for displaying list of bachelor and internship assignments from archive
*   @param ItemCard component
*   
-->
<template>
    <div class="body">
        <span>
            <p>
                Welcome to the archive.
                Here you can view assignments from previous years
            </p>
        </span>

        <input v-model="search" type="text" placeholder="Search through assignments">
        <ItemCard v-for="item in filteredItems" :key="item.id" :item="item" :routeName="pathName" />

    </div>
</template>

<script>
import ItemCard from '@/components/ItemCard.vue'
import db from '@/components/firebaseInit.js'
    export default {
        components: {
            ItemCard
        },
        data () {
            return {
                items: [],
                search: '',
                image: require("@/assets/userIcon.png")
            }
        },
        created () {
            db.collection('archive').get()
            .then(querySnapshot => {
                querySnapshot.forEach(doc => {
                    const data = {
                        'id': doc.id,
                        'companyName': doc.data().companyName,
                        'companyField': doc.data().type,
                        'headline': doc.data().headline,
                        'description': doc.data().description,
                        'location': doc.data().location,
                        'rep': doc.data().rep,
                        'year': doc.data().year,
                        'email': doc.data().email,
                        'name': doc.data().name,
                        'type': doc.data().companyField
                    }
                    this.items.push(data)
                })
            })
        },
        
      computed: {
          
        pathName () {
          return this.$store.state.routeName.archivePath
        },

        filteredItems: function() {
            return this.items.filter((item) => {
            return item.companyName.toLowerCase().match(this.search.toLowerCase()) || 
            item.id.match(this.search) || 
            item.headline.toLowerCase().match(this.search.toLowerCase()) || 
            item.type.toLowerCase().match(this.search.toLowerCase) ||
            item.year.toString().match(this.search)
         })
        }
      }

    }
</script>

<style scoped>
.item-card {
  height: 200px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  border: 2px solid white;
}
.item-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.item-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.left {
  float: left;
  width: 150px;
  margin-top: 25px;
}
.middle {
  float: left;
  width: 250px;
}
.right {
  float: left;
  width: 300px;
}
.right > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}
 #searchBar {
     max-width: 90%;
 }


</style>