<!--
*   @desc Component-view for displaying elements from archive
*   @param firebase database
*   @return item object with db element data
-->
<template>
    <div>
        <div class="container">
        <div class="event-header">
        <!-- Displaying values from db element -->
        <h1 class="title">{{ item.companyName }}</h1>
        <h5>Company ID: {{ item.id }}</h5>
        <h5>Feild: {{ item.companyField }}</h5>
        <address>Location: {{ item.location }}</address>
        <h5>Type:</h5> <p>{{ item.type }}</p>
      </div>
      <h2>{{ item.headline }}</h2>
      <p>{{ item.description }}</p>
      <p>Representative: {{ item.rep }}</p>
      <p>Year: {{ item.year }}</p>

      <h3>Students Involved:</h3>
      <h5>Name(s):</h5><p>{{ item.name }}</p>
      <h5>Email(s):</h5><p>{{ item.email }}</p>
      <button @click="$router.go(-1)">Back</button> <br>
    </div>

    </div>
</template>

<script>
// Importing firebase
import db from '@/components/firebaseInit.js'
    export default {
        name: 'ArchiveShow',
        data () {
            return {
                item: {}
            }
        },
        created() {
            // Gets data from archive database and stores data in item object
            let ref = db.collection('archive').doc(this.$route.params.id)
            ref.get()
            .then(querySnapshot => {
                if(querySnapshot.exists) {
                    this.item = querySnapshot.data()
                } else {
                    console.log('Error loading database')
                }
            })
        }
    }
</script>

<style scoped>
.list-group {
        margin: 0;
        padding: 1em 0;
        list-style: none;
    }

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
  margin: 0;
  padding: 1em 0;
  list-style: none;
}

</style>