<template>
    <div class="body">
        <h1>Approve or deny suggested bachelor thesises here</h1>
        <input v-model="search" type="text" placeholder="Search for assignments">
        <applicationCard v-for="application in filteredBachelorApplications" :key="application.id" :application="application" :routeName="pathName"></applicationCard>
    </div>    
</template>

<script>
import applicationCard from '@/components/applicationCard.vue'
import db from '@/components/firebaseInit.js'
export default {
    components: {
        applicationCard
    },

    data() {
        return {
            bachelorApplications: [],
            search: '', 
        }
    },

    created () {
        db.collection('bachelor-applications').get()
        .then(querySnapshot => {
            querySnapshot.forEach(doc => {
                const data = {
                    'id': doc.id,
                    'assignmentId': doc.data().assignmentId,
                    'companyName': doc.data().companyName,
                    'assignmentHeadline': doc.data().assignmentHeadline,
                    'email': doc.data().email,
                    'name': doc.data().name,
                    'year': doc.data().year,

                }
                this.bachelorApplications.push(data)
            })
        })
    },
    computed: {
        pathName() {
            return this.$store.state.routeName.bachAppPath
        },
        filteredBachelorApplications() {
            return this.bachelorApplications.filter((application) =>{
                return application.companyName.toLowerCase().match(this.search.toLowerCase()) || application.assignmentId.toLowerCase().match(this.search.toLowerCase()) || application.assignmentHeadline.toLowerCase().match(this.search.toLowerCase()) || application.email.toLowerCase().match(this.search.toLowerCase()) || application.name.toLowerCase().match(this.search.toLowerCase())
             })
        }
    }
}
</script>

<style scoped>
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}

</style>