<template>
  <div>
    <div class="container">
        <div class="event-header">
        <!-- Getting and displaying values from db element -->
        <h1 class="title">{{ application.companyName }}</h1>
        <h5>Assignment ID: {{ application.assignmentId }}</h5>
        <h2>Headline: {{ application.assignmentHeadline }}</h2>
        <h2>Year: {{ application.year }}</h2>
      </div>
      <h4>Name(s): {{ application.name }}</h4>
      <h4>Email(s): {{ application.email }}</h4>

      <router-link :to="{ name: 'BachelorApplication' }"><button>Back</button></router-link> <br>
    </div>
    <div class="container">
        <button id="approve" type="button" v-on:click="approve">Approve Assignment Application</button>
        <button type="button" v-on:click="deny">Deny Assignment Application</button>
    </div>
  </div>
</template>

<script>
// Importing firebase databse
import db from '@/components/firebaseInit.js'
export default {
  name: 'BachelorApplicationShow',
  data () {
    return {
      application: {},
    }
  },
  created() {
    let ref = db.collection('bachelor-applications').doc(this.$route.params.id)
    ref.get()
    .then(querySnapshot => {
      if(querySnapshot.exists) {
        this.application = querySnapshot.data()
    } else {
      console.log('Error')
    }  
  })
  },
  methods: {
      approve: function() {
          if(confirm('Are you sure you want to approve this assignment?')){
            if(confirm('Please confirm that you want to approve this assignment')){
                //Adds the information from the current document to the 'bachelor-application' db
                db.collection('bachelor-approved').add({
                    companyName: this.application['companyName'],
                    assignmentHeadline: this.application['assignmentHeadline'],
                    assignmentId: this.application['assignmentId'],
                    email: this.application['email'],
                    name: this.application['name'],
                    type: this.application['type'],
                    year: this.application['year']
                })
                .then(docRef =>{
                    alert("Assignment successfully approved");
                })
                .catch(error => console.log(err));

                // adds email and name to document in archive page
                db.collection('archive').doc(this.application.assignmentId).update({
                  name: this.application['name'],
                  email: this.application['email']
                })
                .then(docRef =>{
                  console.log('Name and email added to archive')
                })
                .catch(error => console.log(error));

                //removes document from 'bachelor-theses' database
                db.collection('bachelor-theses').doc(this.application.assignmentId).delete()
                .then(function(){
                  console.log('document removed from bachelor list')
                })
                .catch(error => console.log(error));

                //removes the same document from the 'bachelor-application' db
                db.collection('bachelor-applications').doc(this.$route.params.id).delete()
                .then(function(){
                    console.log('document removed and added to another db')
                })
                .catch(error => console.log(err))
            } else {
                console.log('aborted')
            }
        } else {
            console.log('Application was not approved')
        }
      },
      deny: function() {
          if(confirm('Are you sure you want to deny this assignment?')){
            if(confirm('Please confirm that you want to deny this assignment')){
                //removes the same document from the 'suggested-bachelor' db
                db.collection('bachelor-applications').doc(this.$route.params.id).delete()
                .then(function(){
                    console.log('document removed and added to another db')
                })
                .catch(error => console.log(err))
            } else {
                console.log('aborted')
            }
        } else {
            console.log('Application was not approved')
        }
          
      }
  }
}
</script>

<style scoped>
.list-group {
        margin: 0;
        padding: 1em 0;
        list-style: none;
    }

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
  margin: 0;
  padding: 1em 0;
  list-style: none;
}
.container{
    min-height: 2em;
}
#approve{
    float: left;
}
</style>