<!--
*
*   @desc Component-view for displaying all companies in databse.
*
-->
<template>
    <div class="body">
        <span>
            <p>
                Here is a list of all the companies connected to 
                NTNU through a bachelor thesis or internship position
            </p>
        </span>
        <input v-model="search" type="text" placeholder="Search for a company by email">
        <!-- Here it loops through the companies array and displays the information in cards -->
        <div class="item-card -shadow" v-for="companies in filteredCompanies" :key="companies.id">
            <div class="left">
                <img :src="image" width="100px" height="100px" />
            </div>
                <span class="right">
                    <!-- Getting and displaying values from db element -->
                    <h4>Company Name: {{ companies.name }}</h4>
                    <h4>Company email: {{ companies.email }}</h4>
                    <h4>Phone Number: {{companies.phoneNumber}}</h4>
                </span>
            </div>
    </div>
</template>

<script>

//imports firebase db from firebase init component
import db from '@/components/firebaseInit.js'


export default {
    data () {
        return {
            image: require("@/assets/companyIcon.png"),
            companies: [],
            search: ''
        }
    },

    created () {
        db.collection('users').get().then(querySnapshot => {
                querySnapshot.forEach(doc => {
                    if(doc.data().role.company == true) {
                        const data = {
                            'id': doc.id,
                            'name': doc.data().firstName,
                            'email': doc.data().email,
                            'phoneNumber': doc.data().phoneNumber
                        }
                        this.companies.push(data)
                    }
                })
        })
    },

    computed: { // filters through the different companies based on the search input
        filteredCompanies: function() {
            return this.companies.filter((item) => {
                return item.name.toLowerCase().match(this.search.toLowerCase())
            });
        }
    },
    
}
</script>

<style scoped>
.item-card {
  height: 200px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  border: 2px solid white;
}
.item-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.item-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.left {
  float: left;
  width: 150px;
  margin-top: 25px;
}
.middle {
  float: left;
  width: 250px;
}
.right {
  float: left;
  width: 300px;
}
.right > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}
 #searchBar {
     max-width: 90%;
 }

</style>