<!--
*   @desc Component-view for displaying information about a internship position element.
*   @param id for db item
*   @return item object and path for axios api request method
-->
<template>
  <div>
    <div class="container">
      <div class="event-header">
        <!-- Getting and displaying values from db element -->
        <h1 class="title">{{ item.companyName }}</h1>
        <h5>Company ID: {{ item.id }}</h5>
        <h5>Feild: {{ item.companyField }}</h5>
        <address>Location: {{ item.location }}</address>
      </div>
      <h2>{{ item.headline }}</h2>
      <p>{{ item.description }}</p>
      <p>{{ item.rep }}</p>
      <router-link :to="{ name: 'StudIntList' }"><button>Back</button></router-link><br>
    </div>
    <div class="container">
          <h2>If you want to applay for this assignment please enter the name email for you or your group below.</h2>
          <form v-on:submit.prevent="newApplication">
              <input v-model="name" type="text" placeholder="Full name of the participants..." required="required">
              <input v-model="email" type="text" placeholder="Email of the participants..." required="required">
              <button type="submit">Apply</button> <br><br>
          </form>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'

  // Importing firebase databse
import db from '@/components/firebaseInit.js'
export default {
  name: 'Internship-show',
  data () {
    return {
      item: {},
      name: null,
      email: null,
    }
  },
  created() {
    let ref = db.collection('internships').doc(this.$route.params.id)
    ref.get()
    .then(querySnapshot => {
      if(querySnapshot.exists) {
        this.item = querySnapshot.data()
      } else {
        console.log('Error')
      }
    })
  },
  methods: {
        newApplication: function() {
          let ref = db.collection('internships').doc(this.$route.params.id)
          let name = this.item['companyName']
                db.collection('internship-applications').add({
                name: this.name,
                email: this.email,
                year: new Date().getFullYear(),
                assignmentId: ref.id,
                companyName: name,
                assignmentHeadline: this.item['headline'],
                type: 'Internship'
            })
            .then(docRef =>{
                alert("Assignment successfully suggested");
            })
            .catch(error => console.log(err));
        }
  },
}
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
.list-group {
        margin: 0;
        padding: 1em 0;
        list-style: none;
    }

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
  margin: 0;
  padding: 1em 0;
  list-style: none;
}
</style>
