<!--
*   @desc View-component displaying a login-form
*
-->

<template>
  <div>
    <div class="container">
      <div class="header">
        <h2>Login</h2>
      </div>
      <form>
        <input type="email" id="email" v-model="email" placeholder="Email.." required />
        <input type="password" id="password" v-model="password" placeholder="Password.." required />
        <button v-on:click.prevent="login" type="submit">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  created() {
    firebase.auth().onAuthStateChanged(userAuth => {
      if (userAuth) {
        firebase
          .auth()
          .currentUser.getIdTokenResult()
          .then(tokenResult => {
            console.log(tokenResult.claims);
          });
      }
    });
  },
  methods: {
    async login() {
      try {
        const { user } = await firebase
          .auth()
          .signInWithEmailAndPassword(this.email, this.password)
          .then(() => {
            firebase.auth().onAuthStateChanged(userAuth => {
              if (userAuth) {
                firebase
                  .auth()
                  .currentUser.getIdTokenResult()
                  .then(tokenResult => {
                    //console.log(tokenResult.claims);
                    if (tokenResult.claims.admin) {
                      this.$router.push({ path: "/admin-page" });
                    } else if (tokenResult.claims.student) {
                      this.$router.push({ path: "/user-page" });
                    } else {
                      this.$router.push({ path: "/company-page" });
                    }
                  });
              }
            });
          });
      } catch (error) {
        //console.log(error);
      }
    }
  }
};
</script>

<style scoped>
.container {
  max-width: 500px;
  align-content: center;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 14em;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: left;
}
/* Style the submit button with a specific background color etc */
button {
  width: auto;
  background-color: #00509e;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* When moving the mouse over the submit button, add a darker green color */
button[type="submit"]:hover {
  background-color: #45a049;
}
</style>
