<!-- 403 status code page. If the user don't have permission to view the page, this page will dislap -->
<template>
    <div class="container">
        <h3>403, sorry you don't have permission to access this page</h3>
        <!-- Button that takes the user back to previous page -->
        <button v-on:click.prevent="$router.go(-2)">Back</button>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>