<template>
    <div class="container">
    <h1>Suggest a bachelor thesis or internship position.</h1>
    <!-- On submit the form will be sent to the correct place based on which of the radio buttons are checked -->
    <form v-on:submit.prevent="newThesis" v-on:reset="resetFields">
        <input type="radio" value="bachelor" id="bachelor" name="selectProgramme">
        <label for="bachelor">Bachelor Thesis</label>
        <div class="internship">
            <input type="radio" value="internship" id="internship" name="selectProgramme">
            <label for="internship">Internship Position</label>
        </div>
      <input type="text" v-model="companyName" placeholder="Company Name" required />
      <input type="text" v-model="companyField" placeholder="Study Field" required />
      <input type="text" v-model="headline" placeholder="Short Headline" required />
      <textarea v-model="description" placeholder="Description" required />
      <input type="text" v-model="location" placeholder="Location" required >
      <input type="text" v-model="rep" placeholder="Company representative" required >
      <button type="submit">Submit</button>
      <button type="reset" name="form-reset" style="margin-right: 5px;">Reset</button>
    </form>
    <p>
        Please include at least name, phone number and email adress for the contactperson within the company
    </p>
  </div>
</template>

<script>
import db from '@/components/firebaseInit.js'
export default {
  name: 'RegisterForm',
  data () {
    return {
      companyName: null,
      companyField: null,
      headline: null,
      description: null,
      location: null,
      rep: null
    }
  },

  methods: {
    newThesis: function () { //Sends the information to the correct place based on if the bachelor or internship radio button is checked
      if(document.getElementById('internship').checked){ // sends form to internship database
        db.collection('suggested-internships').add({
          companyName: this.companyName,
          companyField: this.companyField,
          headline: this.headline,
          description: this.description,
          location: this.location,
          rep: this.rep,
          year: new Date().getFullYear() //gets the current year
        })
        .then(docRef => {
          this.$router.push('/');
          alert("Assignment successfully suggested")
        })
        .catch(error => console.log(err))

        //clears the input fields
        this.companyName = '';
        this.companyField = '';
        this.headline = '';
        this.description = '';
        this.location = '';
        this.rep = '';
      } else if(document.getElementById('bachelor').checked){ // sends form to bachelor database
        db.collection('suggested-bachelor').add({
          companyName: this.companyName,
          companyField: this.companyField,
          headline: this.headline,
          description: this.description,
          location: this.location,
          rep: this.rep,
          year: new Date().getFullYear() //gets the current year
        })
        .then(docRef => {
          this.$router.push('/');
          alert("Assignment successfully suggested")
        })
        .catch(error => console.log(err))


        //clears the input fields
        this.companyName = '';
        this.companyField = '';
        this.headline = '';
        this.description = '';
        this.location = '';
        this.rep = '';
      } else {
        alert('There is something wrong with your form')
      }
    },


    resetFields: function() { // resets the fields
      this.companyName = '';
      this.companyField = '';
      this.headline = '';
      this.description = '';
      this.location = '';
      this.rep = '';
    }
  }
}
</script>




<style scoped>
.internship {
    float: right;
}

p{
    max-width: 75%;
}

</style>
