<!--
*
* View-component displaying a signup-form
*
-->
<template>
  <div class="container">
    <h1>User signup</h1>
    <form>
      <input type="text" id="fName" v-model="fName" placeholder="First name.." required />
      <input type="text" id="lName" v-model="lName" placeholder="Last.." required />
      <input type="text" id="pNumber" v-model="pNumber" placeholder="Phone number.." required />       
      <input type="email" id="email" v-model="email" placeholder="Email.." required />
      <input type="password" id="password" v-model="password" placeholder="Password.." required/>
      <button v-on:click.prevent="signup" type="submit">Signup</button>
    </form>
    <p>
      Already a user?
      <router-link :to="{ name: 'Login' }">Login</router-link>
    </p>
  </div>
</template>

<script>
import firebase from 'firebase'
import db from '@/components/firebaseInit.js'
export default {
  name: 'register',
  data() {
    return {
      email: '',
      password: '',
      fName: '',
      lName: '',
      pNumber: ''
    }
  },
  methods: {
    async signup() {
      try {
        var {
          user
        } = firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
              .then(() => {
                var id = firebase.auth().currentUser.uid; // gets the logged in users id
                var rolesRef = db.collection('users').doc(id); //defines the correct document to edit
                return rolesRef.set({ //updates with new information
                    firstName: this.fName,
                    lastName: this.lName,
                    phoneNumber: this.pNumber
                })
              });


        // Signout
        firebase.auth().signOut().then(user => {
          this.$router.push('/login')
        })
      } catch (error) {
        console.log(error)
      }
    } 
  }
}
</script>

<style scoped>
/* Styling for this view is global in App.vue */

</style>
