<template>
  <div class="body">
    <span>
      <p>Here is a list of companies that are available for internships in {{new Date().getFullYear()}}. You can apply to any of these internship positions by clicking in on the assignment and typing in your name and email address</p>
    </span>
    <input type="text" v-model="search" placeholder="search for bachelor thesis">
    <router-link :to="{ name: 'RegisterForm'}"><button type="button">Suggest Intership Position</button></router-link>
    <h1>Internships for {{new Date().getFullYear()}}</h1>
    <!-- looping through each element in internships array db sand display results in ItemCard component -->
    <ItemCard v-for="item in filteredInternships" :key="item.id" :item="item" :routeName="pathName" />

  </div>
</template>

<script>
// importing ItemCard component
import ItemCard from '@/components/ItemCard.vue'
// import firebase database form firebase init component
import db from '@/components/firebaseInit.js'


export default {
  components: {
    ItemCard
  },
  data () {
    return {
      internships: [],
      search: ''
    }
  },
  created () {
    db.collection('internships').get().then(querySnapshot => {
      querySnapshot.forEach(doc => {
        const data = {
          'id': doc.id,
          'companyName': doc.data().companyName,
          'companyField': doc.data().companyField,
          'headline': doc.data().headline,
          'description': doc.data().description,
          'location': doc.data().location,
          'rep': doc.data().rep,
          'type': doc.data().type
        }
        this.internships.push(data)
      })
    })

  },
  computed: {
    pathName () {
      return this.$store.state.routeName.internshipPath
    },
    filteredInternships: function() { // filters through the internships array based in the input to search
      return this.internships.filter((item) => {
        return item.companyName.match(this.search) || item.id.match(this.search) || item.headline.match(this.search)
      })
    }
  }
}
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}
</style>
