<!--
*   @desc Component-view for displaying list of bachelor assignments
*   @param ItemCard component
*   
-->
<template>
  <div class="body">
    <span>
      <p>
        Here is a list of all the companies providing a bachelor assignment in {{new Date().getFullYear()}}. You can apply for any of these bachelor assignments by clicking in on one and writing the names and emails of the people in your group.
      </p>
    </span>
    <input type="text" v-model="search" placeholder="Search bachelor assignments">
    <router-link :to="{ name: 'RegisterForm' }"><button type="button">Suggest Bachelor Thesis</button></router-link>
    <h1>Bachelor theses for {{ new Date().getFullYear() }} </h1>
    <!-- Looping through each element in theses array db and display results using ItemCard component -->
    <ItemCard v-for="item in filteredBachelorTheses" :key="item.id" :item="item" :routeName="pathName" />
    
  </div>
</template>

<script>
// importing ItemCard component
import ItemCard from '@/components/ItemCard.vue'
// import firebase database form firebase init component
import db from '@/components/firebaseInit.js'
export default {
  components: {
    ItemCard
  },
  data () {
    return {
      bachelorTheses: [],
      search: ''
    }
  },
  created () {
    // Get data from database and stores it in bachelorTheses array
    db.collection('bachelor-theses').get()
    .then(querySnapshot => {
      querySnapshot.forEach(doc => {
        const data = {
          'id': doc.id,
          'companyName': doc.data().companyName,
          'companyField': doc.data().companyField,
          'headline': doc.data().headline,
          'description': doc.data().description,
          'location': doc.data().location,
          'rep': doc.data().rep,
          'year': doc.data().year
        }
        this.bachelorTheses.push(data)
      })
    })

  },
  computed: {
    // Returns itemcard parh for displaying full information on seperate view
    pathName () {
      return this.$store.state.routeName.bachelorPath
    },
    filteredBachelorTheses: function() { // filteres through the bachelorTheses array by the input from search
      return this.bachelorTheses.filter((item) => {
        return item.companyName.match(this.search) || 
        item.id.match(this.search) || 
        item.headline.match(this.search)
      })
    }
  }

}
</script>

<style scoped>
.body{
  max-width: 800px;
  margin: 0 auto;
}
template{
  text-align: center;
}
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}
button{
  background: #00509E;
  padding: 2%;
  color: white;
  font-size: 110%;
}
button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}
</style>
