<template>
    <div class="body">
        <h1>Approve or deny suggested bachelor thesises here</h1>
        <input v-model="search" type="text" placeholder="Search for assignments">
        <!--Displays the information from the suggestedInternships array filtered through the computed filteredSuggestedInt function-->
        <ItemCard v-for="item in filteredSuggestedInt" :key="item.id" :item="item" :routeName="pathName"></ItemCard>
    </div>    
</template>

<script>
import ItemCard from '@/components/ItemCard.vue'
import db from '@/components/firebaseInit.js'
export default {
    components: {
        ItemCard
    },

    data() {
        return {
            suggestedInternships: [],
            search: '', 
        }
    },

    created () { // gets all the documents in the suggested internships database
        db.collection('suggested-internships').get()
        .then(querySnapshot => {
            querySnapshot.forEach(doc => {
                const data = {
                    'id': doc.id,
                    'companyName': doc.data().companyName,
                    'companyField': doc.data().companyField,
                    'headline': doc.data().headline,
                    'description': doc.data().description,
                    'location': doc.data().location,
                    'rep': doc.data().rep,
                    'year': doc.data().year,

                }
                this.suggestedInternships.push(data)
            })
        })
    },
    computed: {
        pathName() {
            return this.$store.state.routeName.suggIntPath
        },
        filteredSuggestedInt() { //filters the assignments based on the text in the search input field
            return this.suggestedInternships.filter((item) =>{
                return item.companyName.match(this.search) || item.id.match(this.search) || item.headline.match(this.search)
            })
        }
    }
}
</script>

<style scoped>
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}

</style>