<template>
  <div>
    <div class="container">
        <div class="event-header">
        <!-- Getting and displaying values from db element -->
        <h1 class="title">{{ item.companyName }}</h1>
        <h5>Company ID: {{ item.id }}</h5>
        <h5>Field: {{ item.companyField }}</h5>
        <address>Location: {{ item.location }}</address>
      </div>
      <h2>Headline: {{ item.headline }}</h2>
      <p>Description: {{ item.description }}</p>
      <p>Representative: {{ item.rep }}</p>
      <router-link :to="{ name: 'SuggestedBachelorThesis' }"><button>Back</button></router-link> <br>
    </div>
    <div class="container">
        <button id="approve" type="button" v-on:click="approve(); archive()">Approve Assignment</button>
        <button type="button" v-on:click="deny">Deny Assignment</button>
    </div>
  </div>
</template>

<script>
// Importing firebase databse
import db from '@/components/firebaseInit.js'
export default {
  name: 'suggBachShow',
  data () {
    return {
      item: {},
    }
  },
  created() { // retrives the assignments from the database
    let ref = db.collection('suggested-bachelor').doc(this.$route.params.id)
    ref.get()
    .then(querySnapshot => {
      if(querySnapshot.exists) {
        this.item = querySnapshot.data()
    } else {
      console.log('Error')
    }  
  })
  },
  methods: {
      approve: function() {
          if(confirm('Are you sure you want to approve this assignment?')){
            if(confirm('Please confirm that you want to approve this assignment')){
                //Adds the information from the current document to the 'bachelor theses db
                db.collection('bachelor-theses').doc(this.$route.params.id).set({
                    companyName: this.item['companyName'],
                    companyField: this.item['companyField'],
                    headline: this.item['headline'],
                    description: this.item['description'],
                    location: this.item['location'],
                    rep: this.item['rep'],
                    year: this.item['year'],
                })
                .then(docRef =>{
                    alert("Assignment successfully approved");
                })
                .catch(error => console.log(err));

                //removes the same document from the 'suggested-bachelor' db
                db.collection('suggested-bachelor').doc(this.$route.params.id).delete()
                .then(function(){
                    console.log('document removed and added to another db')
                })
                .catch(error => console.log(err))
            } else {
                console.log('aborted')
            }
        } else {
            console.log('Assignment was not approved')
        }
      },
      
      archive: function() {
         db.collection('archive').doc(this.$route.params.id).set({
            companyName: this.item['companyName'],
            companyField: this.item['companyField'],
            headline: this.item['headline'],
            description: this.item['description'],
            location: this.item['location'],
            rep: this.item['rep'],
            year: this.item['year'],
            type: 'Bachelor Thesis'
        })
          .then(docRef =>{
            console.log("Assignment successfully added to archive");
          })
          .catch(error => console.log(err));


      },
      deny: function() {
          if(confirm('Are you sure you want to deny and delete this assignment?')){
              if(confirm('Please confirm that you want to deny and delete this assignment')){
                db.collection('suggested-bachelor').doc(this.$route.params.id).delete()
                .then(function(){
                    alert('Assignment deleted')
                })
                .catch(error => console.log(err))
            }else{
                console.log('Aborted')
            }
        } else{
            console.log('aborted')
        }
          
      }
  }
}
</script>

<style scoped>
.list-group {
        margin: 0;
        padding: 1em 0;
        list-style: none;
    }

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
  margin: 0;
  padding: 1em 0;
  list-style: none;
}
.container{
    min-height: 2em;
}
#approve{
    float: left;
}
</style>