<template>
    <div>        
        <div class="container"> 
            <h1>Student</h1>
            <p> First name: {{ item.firstName }} </p>
            <p> Last name: {{ item.lastName }} </p>
            <p> Phone: {{ item.phoneNumber }} </p>
            <p> Email: {{ item.email }} </p>
            <p v-if="user">User ID:  {{ user.uid }} </p>
        </div>
        <div>
            <editProfile></editProfile>
        </div>
    </div>
</template>
<script>
import firebase from 'firebase'
import db from '@/components/firebaseInit.js'
import editProfile from '@/components/editProfile.vue' 

    export default {
        components: {
            editProfile
        },
        data() {
            return {
                user: null,
                name: null,
                number: null ,
                item: {}
            }
        },
        created() {
        
            var self = this;
            firebase.auth().onAuthStateChanged(function(user) {
                self.user = user
            })
        
            var id = firebase.auth().currentUser.uid;
            let ref = db.collection('users').doc(id)
            ref.get()
            .then(querySnapshot => {
            if(querySnapshot.exists) {
                this.item = querySnapshot.data()
            } else {
            console.log('Error')
            }  
        })
    
        },
        methods: {
            signout() {
                firebase.auth().signOut()
                .then(() => {
                    this.$router.push({ path: '/'})
                })
            },
            
            resetFields: function() {
                this.name = '';
                this.number = '';
            }

        }
    }
</script>

<style scoped>
div {
    margin: 0;
}

.container {
  width: 50%;
  align-content: center;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

</style>