<template>
<router-link class="item-link" :to="{ name: routeName, params: { id: application.id } }">
  <div class="item-card -shadow">      
          <div class="left">
              <img :src="image" width="100px" height="100px" />
          </div>
          <div class="middle">
              <span class="eyebrow">
                <!-- Getting and displaying values from db element -->
                <h4>{{ application.companyName }}</h4>
                </span>
                <h4>Assignment ID: {{ application.assignmentId }}</h4>
                <h4>Assingment Headline: {{ application.assignmentHeadline }}</h4>
                <!-- <h4>Field: {{ item.companyField }}</h4> -->
          </div>
          <div class="right">
              <h4>{{ application.email }}</h4>
              <p>{{ application.name }}</p>
              <p id="viewMore">Click to view more</p>
          </div>
        </div>
       

</router-link>
</template>

<script>
export default {
    name: "applicationCard",
    props: {
        application: Object,
        routeName: String
    },
    data () {
        return {
            image: require("@/assets/userIcon.png"),
        }
    }
}
</script>

<style scoped>
.item-card {
  height: 200px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  border: 2px solid white;
}
.item-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.item-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.left {
  float: left;
  width: 150px;
  margin-top: 25px;
}
.middle {
  float: left;
  width: 250px;
}
.right {
  float: left;
  width: 300px;
}
.right > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#viewMore {
  float: right;
}
</style>
