<!--
// @desc This is a contract between an employer ID and the student for a bachelor project
-->

<template>
    <div class="container">
    <form v-on:reset="resetFields" v-on:submit.prevent action="#" method="#">
        <h1>Project Agreement</h1>
        <p>between NTNU Faculty of Architecture and Design(AD) at Gjøvik (education institution)
            and {{companyName}} and {{studentName}}.
        </p>
        <p>The agreement specifies obligations of the contracting parties concerning the completion
            of the project and the rights to use the results that the poject produces:
            <ol>
                <li>The students(s) shall complete the project in the period from
                    <input type="date" name="dateFrom" id="dateFrom"> to <input type="date" id="dateTo" name="dateTo"> the students shall in this period
                    follow a set schedule where NTNU gives academic supercision. The employer
                    puts knowledge and materials at disposal necessary to complete the project.
                    It is assumed thta given problems in the project are adapted to a suitable level
                    for the students' academic knowledge. It is the employer's duty to evaluate the Project
                    for free on enquiry from NTNU.
                </li><br>
                <li>
                    The cost of completion of the project are covered as follows: <br>
                    - Employer covers completion of the project such as materials, phone/fax, travelling
                    and neccesary accommodation on places far from NTNU. Students cover the expenses for
                    pruinting and completion of the written assignment of the project. <br>
                    - The right of ownership to potential prototypes falls to those who have paid the components
                    and materials and so on used to make the protoype. If it is necessary with larger
                    or specific investments to complete the project, it has to be made an own agreement between
                    parties about potential cost allocation and right of ownership.
                </li> <br>
                <li>
                    NTNU is no guarantor that what employer has ordered works after intentions, nor that the
                    project will be completed. The project must be considered as an exam related assignment
                    that will be evaluated by lecturer/supervisor and examiner. Nevertheless it is an obligation
                    for the performer of the project to complete it according to specifications, function level and
                    times as agreed upon.
                </li><br>
                <li>
                    The total assignment with drawings, models and apparatus as well as program listing, source
                    codes and so on included as a part of or as an appendix to the assignment, is handed over as
                    a copy to NTNU who free of charge can use it in lessons and in research purpose. The
                    assignment or appendix cannot be used by NTNU for other purposes, and will not be handed
                    over to an outsider without an agreement with the rest of the parties in this agreement. This
                    applies as well to companies where employees at NTNU and/or students have interests. <br>

                    Assignments with grade C or better are registered and placed at the university’s library. An
                    electronic project assignment without attachments will be placed on the library part of
                    NTNU’s website. This depends on that the students sign a separate agreement where they
                    give the library rights to make their main project available both on print and on Internet (ck.
                    The Copyright Act). Employer and supervisor accept this kind of disclosure when they sign
                    this project agreement, and they must possibly give a written message to students and dean
                    if they during the project period change view on this kind of disclosure.
                </li><br>
                <li>
                    The assignment’s specifications and results can be used by the employer’s own work. If the
                    student(s) in its assignment or while working with it, makes a patentable invention, relations
                    between employer and student(s) applies as described in Act respecting the right to
                    employees' inventions of 17th of April 1970, §§ 4-10.
                </li><br>
                <li>
                    Beyond the publishing mentioned in item 4, the student(s) have no right to publish
                    his/hers/theirs assignment, fully or partly or as a part of another work, without consensus
                    from the employer. Equivalent consent must be made between student(s) and
                    lecturer/supervisor regarding the material placed at disposal by the lecturer/supervisor.
                </li><br>
                <li>
                    The students shall hand in the assignment with attachments electronic (PDF) in NTNU’s
                    digital exam system. In addition the students shall hand in a copy to the employer.
                </li><br>
                <li>
                    This agreement is drawn up with one copy to each party. On behalf of NTNU it is the head of
                    the Department/Group that approves the agreement.
                </li><br>
                <li>
                    In each case it is possible to enter separate agreement between employer, student(s) and
                    NTNU who closer regulate conditions regarding issues such as ownership, further use,
                    confidentiality, cost coverage, and economic utilization of the results. <br>
                    If employer and student(s) wish an additional or new agreement, this will occur without
                    NTNU as a partner.
                </li><br>
                <li>
                    When NTNU also act as employer, NTNU accede to the agreement both as education
                    institution and as employer.
                </li><br>
                <li>
                    . Possible disagreements concerning understanding of this agreement are solved by
                    negotiations between the parties. If consensus is not achieved, the parties agree that the
                    disagreement is solved by arbitration, according to provision in Civil Procedure Act of 13th of
                    August 1915, no 6, chapter 32.
                </li><br>
                <li>
                    Participants by project implementation:
                </li>
            </ol>
        </p>
            NTNUs supervisor (name): <input v-model.trim="supervisorName" type="text" id="supervisorName"> <br>
            Company: <input v-model.trim="companyName" type="text" id="companyName"> <br>
            Employers contact person (name): <input v-model.trim="employerName" type="text" id="employerName"> <br>
            Student 1 (name): <input v-model.trim="student1Name" type="text" id="student1Name"> <br>
            Student 2 (name): <input v-model.trim="student2Name" type="text" id="student2Name"> <br>
            Student 3 (name): <input v-model.trim="student3Name" type="text" id="student3Name"> <br>
            Student 4 (name): <input v-model.trim="student4Name" type="text" id="student4Name"> <br>

            <!--The names that are filled in the input forms above will automatically be filled in in the siging part under here -->

            I {{student1Name}} have read the agreement and accept it <input v-model="student1Signed" type="checkbox" id="student1Agree"> <br>
            I {{student2Name}} have read the agreement and accept it <input v-model="student2Signed" type="checkbox" id="student2Agree"> <br>
            I {{student3Name}} have read the agreement and accept it <input v-model="student3Signed" type="checkbox" id="student3Agree"> <br>
            I {{student4Name}} have read the agreement and accept it <input v-model="student4Signed" type="checkbox" id="student4Agree"> <br>
            I {{employerName}} have read the agreement and accept it <input v-model="employerSigned" type="checkbox" id="companyAgree"> <br>
            I {{supervisorName}} have read the agreement and accept it <input v-model="supervisorSigned" type="checkbox" id="supervisorAgree"> <br>
            <!-- The submit button is disabled as long as the form is not valid or filled out properly -->
            <button v-bind:disabled="!fromIsValid" v-bind:style="submitButtonStyles" type="submit" id="submit-form">Submit</button>
            <button type="reset" id="form-reset" style="margin-right:5px;">Reset</button> <br>
        </form>
    </div>
</template>

<script>
export default {
  name: 'bachelorContract',
  data () {
    return {
      student1Name: '',
      student2Name: '',
      student3Name: '',
      student4Name: '',
      companyName: '',
      employerName: '',
      supervisorName: '',
      student1Signed: false,
      student2Signed: false,
      student3Signed: false,
      student4Signed: false,
      employerSigned: false,
      supervisorSigned: false
    }
  },

  computed: {
    // Checks if the form is valid by making sure these values are returned
    fromIsValid: function () {
      return this.student1Name && this.companyName && this.employerName && this.supervisorName && this.supervisorSigned && this.employerSigned && this.student1Signed
    },

    submitButtonStyles: function () { //changes the style of the button based on if the form is valid or not
      if (this.fromIsValid) {
        return {
          'background-color': '#00509e',
          cursor: 'pointer'
        }
      } else {
        return {
          'background-color': 'gray',
          cursor: 'default'
        }
      }
    }
  },

  methods: {
    // Resets fields
    resetFields: function () {
      this.student1Name = ''
      this.student2Name = ''
      this.student3Name = ''
      this.student4Name = ''
      this.companyName = ''
      this.employerName = ''
      this.supervisorName = ''
    }
  }
}
</script>

<style scoped>

</style>
