<template>
    <div class="container">
        <h4>Edit profile here:</h4>
        <form v-on:submit.prevent="updateUser">
            <label for="fName">First name..</label>
            <input v-model="fName" type="text" v-bind:placeholder=" item.firstName" required>
            <label for="lName">Last name..</label>
            <input v-model="lName" type="text" v-bind:placeholder="item.lastName" required>
            <label for="number">Phone number..</label>
            <input v-model="number" type="number" v-bind:placeholder="item.phoneNumber" required>
            <button type="submit">Update Profile</button> <br><br>
        </form>
    </div>
</template>

<script>
import firebase from 'firebase'
import db from '@/components/firebaseInit.js'
export default {
    data() {
        return {
            fName: null,
            lName: null,
            number: null,
            item: {},
        }
    },
    created() {
        var id = firebase.auth().currentUser.uid;
        let ref = db.collection('users').doc(id)
        ref.get()
        .then(querySnapshot => {
        if(querySnapshot.exists) {
            this.item = querySnapshot.data()
        } else {
        console.log('Error')
        }  
    })
  },

    methods: {
        //makes the user able to update their profile with additional information
            updateUser: function() {
                var id = firebase.auth().currentUser.uid; // gets the logged in users id
                var rolesRef = db.collection('users').doc(id); //defines the correct document to edit

                return rolesRef.update({ //updates with new information
                    firstName: this.fName,
                    lastName: this.lName,
                    phoneNumber: this.number
                })
                .then(function() {
                    alert("Profile successfully updated!");
                })
                .catch(function(error) {
                    // The document probably doesn't exist.
                    alert("Error updating profile: ", error);
                    console.log("Error updating profile:", error)
                });
            },
    }
    
}
</script>

<style scoped>

</style>