<!--
@desc This is the contract between the company that is going to provide internships and NTNU
-->

<template>
    <div class="container">
        <form v-on:reset='resetFields'>
            <h1>Avtale om praksis for student</h1>
            <p>Det er gjort avtale mellom NTNU og <input v-model.trim="companyName" type="text" name="companyName" placeholder="Firmanavn" class="limitWidth"> om gjennomføring av
                praksisperiode for studenter på studiet <input type="text" placeholder="Studieprogram" class="limitWidth">. I følge avtalen
                skal <input type="number" name="noOfStudents" min="1" max="10"> studenter gjennomføre
                arbeid tilsvarende ca. 180 timer i løpet av våren {{ new Date().getFullYear() }}. Det er opp til studenten(e)
                og virksomheten å avtale hvordan denne tiden disponeres. Det er forventet at virksomheten
                organiserer relevante oppgaver, og følger opp med veiledning underveis. Ved praksisperiodens
                slutt skal det finne sted en evalueringssamtale som er med på å legge grunnlag for
                karaktersetting av studentens innsats. virksomheten har ikke noen forpliktelse til
                å lønne eller godtgjøre studentens arbeid.
            </p>
            <p>
                Hvis studenten(e) i løpet av praksisperioden kan komme i kontakt med sensitivt materiell, er det
                virksomhetens ansvar å gjøre avtale om taushetsplikt. Studenter i praksis anses for øvrig som
                arbeidstakere i forhold til arbeidsmiljølovens regler om helse, miljø og sikkerhet når de
                utfører arbeid i virksomheten.
            </p>
            <p>
                NTNU organiserer og tilrettelegger slik at virksomheten blir involvert i utvelgelse av studenter til de
                ulike praksisstedene. Dersom det blir nødvendig kan avralen om praksisplass avsluttes, men kun etter gjensidig
                enighet mellom NTNU og virksomheten. Avtalen inngås med ett års varighet med mulighet for forlengelse.
            </p>
            <p>
                Ansvarlig fagperson ved universitetet er Terje Stafseng <a href="mailto: terje.stafseng@ntnu.no">terje.stafseng@ntnu.no</a>,
                tlf: <a href="tel:61135277">611 35 277</a>, mobil: <a href="tel:91124822">911 24 822</a>.
            </p>
            <p>
                Administrativt ansvarlig og ansvarlig for avtalesignering er Andreas Hagen <a href="mailto:andreas.hagen@ntnu.no">andreas.hagen@ntnu.no</a>
                tlf: <a href="tel:61135457">611 35 457</a>
            </p>
            <p>
                Ansvarlig kontaktperson ved bedriften er <input v-model.trim="companyEmployee" type="text" name="companyEmployee" placeholder="Navn" class="limitWidth">,
                 <input type="email" placeholder="Epost" class="limitWidth" name="employeeEmail">, <input type="tel" placeholder="Tlf" class="limitWidth">
            </p>
            <p>
                Jeg Terje stafseng har lest igjennom denne avtalen og godtar den på vegne av NTNU <input v-model="ntnuSigned" type="checkbox" id="ntnuSigned"> <br>
                Jeg {{companyEmployee}} har lest igjennom denne avtalen og godtar den på vegne av {{companyName}} <input v-model="companySigned" type="checkbox" id="companySigned">
            </p>
            <!-- The submit button is disabled as long as the form is not valid or filled out properly -->
            <button v-bind:disabled="!formIsValid" v-bind:style="submitButtonStyles" type="submit" id="submit-form">Submit</button>
            <button type="reset" id="form-reset" style="margin-right:5px;">Reset</button> <br>
        </form>
    </div>
</template>

<script>
export default {
  data () {
    return {
      companyEmployee: '',
      companyName: '',
      ntnuSigned: false,
      companySigned: false

    }
  },
  computed: {
    formIsValid: function () { // checks if the form is valid
      return this.companyName && this.companyEmployee && this.ntnuSigned && this.companySigned
    },

    submitButtonStyles: function () { // changes the style of the submit button based on form validation
      if (this.formIsValid) {
        return {
          'background-color': '#00509e',
          cursor: 'pointer'
        }
      } else {
        return {
          'background-color': 'gray',
          cursor: 'default'
        }
      }
    }
  },

  methods: {
    resetFields: function () { // resets the fields
      this.companyEmployee = ''
      this.companyName = ''
      this.ntnuSigned = false
      this.companySigned = false
  },
  }

}
</script>

<style scoped>
 .limitWidth {
    width: 15%;
    padding: 7px;
}

</style>
