<!--
*
*   @desc Nav-bar component displaying navigation in the header globaly. Only dispalys navigation if a user is logged in
*   @return currentUser and if an user is logged in
-->
<template>
    <div id="nav" class="nav">
        <nav>
            <ul>
                <li v-if="isLoggedIn"><span>{{ currentUser }}</span></li>
                 <li v-if="isLoggedIn">
                  <a v-on:click="profilePath">Profile</a>
                   </li>
                <li v-if="!isLoggedIn"><router-link :to="{ name: 'Home' }">Home</router-link></li>
                <li class="dropdown">
                    <div class="dropbtn" v-if="isLoggedIn">Bachelor Assignments</div>
                    <div class="dropdown-content">
                        <li v-if="isLoggedIn"><router-link :to="{ name: 'StudBachList' }">Student Bachelor List</router-link></li>
                        <li v-if="isLoggedIn"><router-link :to="{ name: 'bachelorContract' }">Bachelor Contract</router-link></li>
                    </div>
                </li>
                <li class="dropdown">
                    <div class="dropbtn" v-if="isLoggedIn">Internship Positions</div>
                    <div class="dropdown-content">
                        <li v-if="isLoggedIn"><router-link :to="{ name: 'StudIntList' }">Student Internship List</router-link></li>
                        <li v-if="isLoggedIn"><router-link :to="{ name: 'internshipContract' }">Internship Contract</router-link></li>
                    </div>
                </li>
                <li v-if="isLoggedIn"><router-link :to="{ name: 'CompanyList'}">Company List </router-link></li>
                <li v-if="isLoggedIn"><router-link :to="{ name: 'ArchiveList'}">Archive </router-link></li>
                <li v-if="isLoggedIn"><router-link :to="{ name: 'ActiveApplications'}">Active Applications</router-link></li>

                <li v-if="isLoggedIn"><button v-on:click="logout">Sign out</button></li>
            </ul>
        </nav>
        <router-link id="smallLogo" :to="{ name: 'Home' }">
          <img :src="image" alt="ntnu logo" id="logo">
          </router-link>
    </div>
</template>

<script>
// Importing firebase database
import firebase from "firebase";
export default {
  name: "navbar",
  data() {
    return {
      image: require("@/assets/ntnu_logo_icon.png"), // Logo image displayed in header with navigation
      isLoggedIn: false,
      currentUser: false
    };
  },
  created() {
    // Ask firebase is a user is logged in
    if (firebase.auth().currentUser) {
      this.isLoggedIn = true;
      this.currentUser = firebase.auth().currentUser.email;
      
    }
  },
  methods: {
    // User logout function
    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.go({ path: this.$router.path });
        });
    },
    profilePath: function() {
      // Profile button taking the user to their profile page depending on their user role
        firebase.auth().onAuthStateChanged(userAuth => {
              if (userAuth) {
                firebase
                  .auth()
                  .currentUser.getIdTokenResult()
                  .then(tokenResult => {
                    if (tokenResult.claims.admin && !this.$route.currentRoute) {
                      this.$router.push({ path: "/admin-page" });
                    } else if (tokenResult.claims.student && !this.$route.currentRoute) {
                      this.$router.push({ path: "/user-page" });
                    } else if (tokenResult.claims.company && !this.$route.currentRoute) {
                      this.$router.push({ path: "/company-page" });
                    }
                  });
              }
        })
    }
  }
};
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
body {
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a, span, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #333333;
}
.nav > .brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #00509e;
  text-decoration: none;
}

.nav .nav-item {
  box-sizing: border-box;
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nav .nav-item.router-link-exact-active {
  color: #00509e;
  border-bottom: solid 2px #00509e;
}
#logo {
  position: absolute;
  top: 15px;
  right: 25px;
}
#smallLogo img {
  height: 100px;
  width: 100px;
}

/* Dropdown lists in navbar */
.dropbtn {
    font-weight: bold;
}

.dropbtn:hover {
    background-color: #111111;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    max-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
</style>
